<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Expense360 - My Profile</title>
    <th:block th:replace="fragments/header.html :: common-header"/>
</head>
<body>
    <div th:insert="fragments/header.html :: header" />
    <div class="container-fluid align-right" sec:authorize="isAuthenticated()">
        <br/>
        Hello : <span sec:authentication="name"/> </br>
        Your Roles: <span sec:authentication="principal.authorities"/>
    </div>
</body>
</html>